<div class="row client">
    <div class="col-sm-12 text-center mb-3">
        <img ng-src="{{ clientCtrl.client.avatar }}" alt="avatar">
    </div>
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label>First name:</label>
                <input type="text" class="form-control" ng-model="clientCtrl.client.first_name" placeholder="First name">
            </div>
            <div class="form-group">
                <label>Last name:</label>
                <input type="text" class="form-control" ng-model="clientCtrl.client.last_name" placeholder="Last name:">
            </div>
            <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control" ng-model="clientCtrl.client.company" placeholder="Compoany">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="clientCtrl.client.gender">
                    <option value="">None</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input type="text" class="form-control" ng-model="clientCtrl.client.email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label>Phone:</label>
                <input type="text" class="form-control" ng-model="clientCtrl.client.phone" placeholder="Phone">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control">
                    <option value="">None</option>
                    <option value="male">Phone</option>
                    <option value="female">Mail</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Add meeting">
            </div>
        </form>
        <div class="history">
            <ul class="list-group">
                <li class="history-item list-group-item" ng-repeat="point in clientCtrl.history" ng-class="point.type + '-type'">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ point.title }}</h5>
                        <small>{{ point.date }}</small>
                    </div>
                    <p class="mb-1">{{ point.text }}</p>
                    <small>Type: {{ point.type }}</small>
                </li>
            </ul>
        </div>
    </div>
</div>