<div class="row">
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label>First name:</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group">
                <label>Last name:</label>
                <input type="text" class="form-control" placeholder="Last name:">
            </div>
            <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control" placeholder="Compoany">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control">
                    <option value="">None</option>                        
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input type="text" class="form-control" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label>Phone:</label>
                <input type="text" class="form-control" placeholder="Phone">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control">
                    <option value="">None</option>                        
                    <option value="male">Phone</option>
                    <option value="female">Mail</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>
        </form>
    </div>
</div>