.bg-light {
    background-color: #e7e7e7 !important;
}
.sidebar {
    min-height: calc(100vh - 56px);
    a {
        color: #fff;
    }
}
.ng-scope {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
}