<div class="row p-3">
    <h1>Search</h1>
</div>
<div class="row p-3">
    <form class="w-100">
        <div class="row">
            <div class="col">
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col">
                <label>Company:</label>
                <input type="text" class="form-control" placeholder="Company">
            </div>
            <div class="col pt-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="female"> Female
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="male"> Male
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="none"> None
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row mt-5 p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">E-mail</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Marcin Grabowski</td>
                <td>Pureweb</td>
                <td>office@pureweb.pl</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Marcin Grabowski</td>
                <td>Pureweb</td>
                <td>office@pureweb.pl</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Marcin Grabowski</td>
                <td>Pureweb</td>
                <td>office@pureweb.pl</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Marcin Grabowski</td>
                <td>Pureweb</td>
                <td>office@pureweb.pl</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Marcin Grabowski</td>
                <td>Pureweb</td>
                <td>office@pureweb.pl</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>